<section class="card">
  <a href="/painting/{{id}}">
    <header>{{pet_name}}</header>

    <div class="card-body">
      <img src="/images/{{pic_filename}}" alt="{{bio}}">
      <h3>{{species}}</h3>
      <h3>{{breed}}</h3>
      <h4>{{size}}</h4>
      <h4>{{age}}</h4>
      <h4>{{bio}}</h4>
      <p>By: {{owner_id}}</p>
    </div>
  </a>
  
</section>