<article class="flex flex-col center-items justify-center">
  <div class="flex justify-start text-3xl text-indigo-50 font-semibold my-5">
    <div class="mx-6">
      <a href="/dashboard" class="hover:text-indigo-100"><i class="fa-solid fa-angle-left"></i> Back to dashboard</a>
    </div>
  </div>
</article>
<div class="flex center-items justify-center">
  <section>
      <h2
      class="flex justify-center text-3xl text-indigo-50 font-semibold my-5">
        Edit Pet Info
      </h2>
      <div class="grid grid-flow-col">
        <div class="flex flex-wrap flex-row items-center mr-3">
          <div>
              <div class="flex my-5">
                  <a href="/dashboard/"><i id="edit-pet" class="fas fa-save text-sky-400 hover:text-sky-500 text-2xl"></i></a>
              </div>
              <div class="flex my-5">
                  <button id="delete-post-btn"><i class="fa fa-trash text-red-500 hover:text-red-300 text-2xl" aria-hidden="true"></i></button>
              </div>
          </div>
      </div>
      <div class="rounded-t-lg bg-gradient-to-b from-violet-600 to-indigo-700 shadow-2xl shadow-indigo-700">
          <form id="edit-pet-form" class="bg-transparent rounded-lg shadow-xl m-5">

            <div class="">
                    <div class="px-6" uk-grid>
                        <div class="flex justify-center">
                            <label for="pet_name"></label>
                            <input class="dashboard-inputs" type="text" placeholder="Pet Name" id="pet-name" name="pet-name" value="{{pet.pet_name}}"/>
                        </div>    

                        <div class="flex justify-center">
                            <label for="species"></label>
                            <input class="dashboard-inputs" placeholder="Species" id="species" name="species" value={{pet.species}}/>
                        </div>
                        
                        <div class="flex justify-center">
                            <label for="breed"></label>
                            <input class="dashboard-inputs" placeholder="Breed" id="breed" name="breed" value="{{pet.breed}}" />
                        </div>
                        
                        <div class="flex justify-center">
                            <label for="size"></label>
                            <input class="dashboard-inputs" placeholder="Size" id="size" name="size" value="{{pet.size}}" />
                        </div>
                        
                        <div class="flex justify-center">
                            <label for="age"></label>
                            <input class="dashboard-inputs" placeholder="Age" id="age" name="age" value="{{pet.age}}" />
                        </div>

                        <div class="flex justify-center">
                            <label for="bio"></label>
                            <textarea class="dashboard-inputs" placeholder="Bio" id="bio" name="bio" value="{{pet.bio}}" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mx-0 px-0">
                    <div
                    class="js-upload uk-placeholder uk-text-center bg-gradient-to-r from-violet-600 to-indigo-600 text-indigo-50 mb-0 mx-0 px-0">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Update your pet's photo here!</span>
                        <div uk-form-custom>
                            <form encType="multipart/form-data" action="">
                                <input id="img-input" type="file" multiple />
                            </form>
                            <span class="uk-link text-sky-500">selecting one</span>
                        </div>
                        <img id="test-id" />
                    </div>
                </div>
          </form>
      </div>
  </section>
</div>
<div class="flex flex-wrap justify-center items-center">
    <article class="m-8">
      <form id="comment-form">
          <div class="m-2">
              <textarea class="rounded text-black p-2" id="comment-body"></textarea>
          </div>

          <div class="m-2">
              <button type="submit" class="text-indigo-50 bg-violet-400 hover:bg-violet-300 text-white font-bold py-2 my-1 px-2 mx-1 rounded border-b-4 border-indigo-700 flex justify-center">add comment</button>
              <button type="button" id="addFave-btn" class="text-indigo-50 bg-violet-400 hover:bg-violet-300 font-bold py-2 my-1 px-2 mx-1 rounded border-b-4 border-indigo-700 flex justify-center">Fave</button>
          </div>
      </form>
    </article>
</div>

<script src="/javascript/edit-pet.js"></script>
<script src="/javascript/delete-pet.js"></script>
<script src="/javascript/comment.js"></script>